<html>
  <head>
    <title>Tailwind motion</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <div class="flex justify-center items-center h-screen flex-col gap-6">
      <h1
        class="text-4xl font-bold text-center motion-scale-y-in-0 motion-ease-spring-bounciest origin-bottom motion-duration-500 motion-text-in-red-500"
      >
        Hello Tailwind Motion
      </h1>
      <div
        class="size-36 bg-emerald-700 motion-preset-flomoji-👉 motion-preset-slide-right-lg motion-blur-in"
      >
      </div>
    </div>
  </body>
</html>
