<html>
  <head>
    <title>Tailwind motion</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <div class="flex justify-center items-center h-screen flex-col gap-6">
      <h1 class="motion-preset-confetti text-4xl">Hello Tailwind Motion</h1>
      <div class="size-36 bg-emerald-700 motion-preset-rebound-up"></div>
    </div>
  </body>
</html>
