<html>
  <head>
    <title>Tailwind motion</title>
    <meta charset="utf-8" />
  </head>
  <body
    class="bg-black flex justify-center items-center text-white text-9xl h-screen"
  >
    <h1
      class="motion-opacity-loop-[--ey] motion-scale-loop-[--motion-loop-scale]"
      style={{ "--ey": "0", "--motion-loop-scale": "0.9" }}
    >
      Rombo
    </h1>
  </body>
</html>
