<html>
  <head>
    <title>Tailwind motion</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <div
      class="relative text-white text-6xl flex text-center font-black justify-center items-center h-screen flex-col bg-black"
    >
      <div class="motion-translate-x-loop-[5%] motion-duration-75">🚀</div>
    </div>
  </body>
</html>
