<html>
  <head>
    <title>Tailwind motion</title>
  </head>
  <body>
    <div class="flex justify-center items-center h-screen flex-col gap-6">
      <h1
        class="text-4xl font-bold text-center motion-scale-y-in-0 motion-ease-spring-bounciest origin-bottom motion-duration-500 motion-text-in-red-500"
      >
        Hello Tailwind Motion
      </h1>
      <div
        class="size-36 bg-emerald-700 motion-translate-x-in-100 motion-translate-y-in-50 motion-blur-in motion-opacity-in-0 motion-ease-spring-bouncier"
      >
      </div>
    </div>
  </body>
</html>
